* {
  .container {
    display: grid;
    grid-template-columns: 62% 38%;
    grid-template-rows: 25% 75%;
    gap: 20px;
  }

  .imgContainer {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* This sets the aspect ratio */
    grid-area: 1 / 1 / 2 / 2;
  }

  .mainPicWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Aspect ratio. */
  }

  .mainPic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mainPicFullscreen {
    z-index: 1;
  }

  .thumbnails {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: transparent;
    gap: 15px;
  }

  .thumbnail {
    width: 15%; /* This makes the thumbnails 1/5 the width of the .imgContainer. Adjust as needed. */
    height: auto;
    object-fit: cover;
  }

  .thumbnailDownArrow {
    position: absolute;
    bottom: -17%;
    left: -7%;
    margin-left: 10%;
    margin-bottom: 5%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
  }

  .mainPicArrowLeft {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 1;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
  }

  .mainPicArrowRight {
    position: absolute;
    top: 50%; /* This positions the arrow in the middle vertically. */
    right: 10%;
    transform: translateY(-50%);
    z-index: 1;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
  }

  .mainPicArrowLeftFullscreen {
    top: 50vh;
    left: 10vw;
  }

  .mainPicArrowRightFullscreen {
    top: 50vh;
    right: -29vw;
  }


  .category {
    font-size: 120%;
    margin-bottom: -3.5%;
  }

  .price {
    margin-top: 0;
  }

  .styleText {
    display: flex;
    gap: 2%;
  }

  .styleThumbnail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
  }

  .styleThumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .styleArrow {
    font-weight: bold;
  }

  .productInfoContainer {
    grid-area: 1 / 2 / 2 / 3;
  }

  .styleSelectorContainer {
    grid-area: 1 / 2 / 2 / 3;
    padding-bottom: 20px;
  }

  .addToCartContainer {
    grid-area: 1 / 2 / 2 / 3;
  }

  .productOverviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 3;
    margin-top: -15%;
  }

  .overviewLeft {
    width: 65%;
    border-right: 2px solid black;
    margin-right: 10px;
  }

  .overviewCenter {
    padding-right: 15px;
    padding-left: 15px;
  }

  .selectedThumbnail {
    border: 3px solid black;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  }

  select {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: #e2e1e1;
    color: #444;
    text-align: center;
  }

  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  button:hover {
    background: #0056b3;
  }

  .starButton {
    background: none;
    border: none;
    color: #f0ad4e;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .starButton:hover {
    color: #f39c12;
  }
}