* {
  .container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 80vw;
    display: flex;
  }

  .centeringContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
  }

  .topContainer {
    display: flex;
    margin-bottom: 13vw;
  }

  .topRightContainer {
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  .imgContainer {
    position: relative;
    width: 100%;
    padding-right: 15px;
    flex: auto;
  }

  .mainPicWrapper {
    display: flex;
    position: relative;
    background-color: white;
    left: 10px;
    width: 100%;
    padding-bottom: 100%;
    border: 5px solid #ffffff;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2), 2px 2px 2px 2px rgba(0,0,0,0.19);
    z-index: 2;
  }

  .mainPic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .mainPic:hover {
    cursor: zoom-in;
  }

  .mainPicExpanded:hover {
    cursor: crosshair;
  }

  .mainPicZoomed {
    z-index: 4;
  }

  .mainPicZoomed:hover {
    cursor: zoom-out;
  }

  .mainPicFullscreen {
    z-index: 2;
  }

  .fullscreenIcon {
    position: absolute;
    top: 2%;
    right: 10%;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 2;
  }

  .exitFullscreenIcon {
    position: absolute;
    right: 10%;
    top: 2%;
    border: 10px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 13px rgba(152, 136, 68, 0.5);
    z-index: 4;
  }

  .thumbnails {
    position: absolute;
    margin-left: 2%;
    margin-top: 10%;
    top: 0;
    left: 0;
    display: flex;
    flex: auto;
    flex-direction: column;
    z-index: 1;
    background-color: transparent;
    gap: 1vh;
  }

  .thumbnail {
    width: 3vw;
    height: auto;
    object-fit: contain;
    z-index: 4;
  }


  .smallIcon {
    width: 30px;
    height: 30px;
  }

  .selectedIcon {
    border: 2px solid black;
    box-shadow: 0px 0px 10px 3px rgba(152, 136, 68, 0.5);
  }

  .thumbnailsExpanded {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 1;
  }

  .thumbnailDownArrow {
    position: absolute;
    bottom: -14%;
    left: -4%;
    margin-left: 10%;
    margin-bottom: 5%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
  }

  .thumbnailUpArrow {
    position: absolute;
    top: -15%;
    left: -4%;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
  }

  .mainPicArrowLeft {
    position: absolute;
    top: 50%;
    left: 11%;
    z-index: 4;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
  }

  .mainPicArrowRight {
    position: absolute;
    top: 50%;
    right: 11%;
    z-index: 4;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
  }

  .mainPicArrowLeftFullscreen, .mainPicArrowRightFullscreen {
    top: calc(100%);
  }

  // .mainPicArrowLeftFullscreen {
  //   top: 50vh;
  //   left: 10vw;
  //   z-index: 10;
  // }

  // .mainPicArrowRightFullscreen {
  //   top: 50vh;
  //   right: 0vw;
  //   z-index: 10;
  // }

  // Procuct name
  .productName {
    display: flex;
    flex: auto;
  }

  .category {
    font-size: 120%;
    margin-bottom: -3.5%;
    display: flex;
    flex: auto;
  }

  .price {
    margin-top: 0;
    display: flex;
    flex: auto;
  }

  .originalPrice {
    display: flex;
    flex: auto;
    margin-top: -2%;
  }

  .styleText {
    display: flex;
    flex: auto;
    gap: 2%;
  }

  .styleThumbnail {
    width: 6.4vw;
    height: 6.4vw;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
  }

  .styleThumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 26.6vw;
    z-index: 1;
  }

  .styleText {
    display: flex;
    flex: initial
  }

  .styleArrow {
    font-weight: bold;
    display: flex;
    flex: initial;
  }

  .selectedArrow {
    display: flex;
    flex: initial;
  }

  .styleSelectorContainer {
    flex: auto;
  }

  .productInfoContainer {
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  .productOverviewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 3;
    margin-top: -15%;
  }

  .overviewLeft {
    width: 65%;
    border-right: 2px solid black;
    margin-right: 10px;
  }

  .overviewCenter {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  }

  .line2 {
    margin-top: -1vh;
  }

  .selectedThumbnail {
    border: 3px solid black;
    box-shadow: 0px 0px 15px 5px rgba(152, 136, 68, 0.5);
  }

  select {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: #e2e1e1;
    color: #444;
    text-align: center;
  }

  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  button:hover {
    background: #0056b3;
  }

  .starButton {
    background: none;
    border: none;
    color: #f0ad4e;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .starButton:hover {
    color: #f39c12;
  }

  .reviews {
    display: flex;
    flex: auto;
    padding-top: 10px;
    margin-bottom: -10px;
  }

  .MuiRating-decimal {
    display: flex;
    align-items: center;
    flex: auto;
  }

  .MuiRating-root {
    padding-right: 10px;
    display: flex;
    flex: initial;
  }

  .reviewsLink {
    text-decoration: underline;
    display: flex;
    flex: auto;
    align-items: center;
  }

  .reviewsLink:hover {
    cursor: pointer;
  }

  .addToCartBtns {
    display: flex;
    flex: initial;
  }

  .addToCartContatiner {
    display: flex;
    flex: auto;
  }

  .selectors {
    display: flex;
    flex: initial;
  }

  .sizeSelector {
    display: flex;
    flex: initial;
  }

  .quantitySelector {
    display: flex;
    flex: initial;
  }

  .share {
    display: flex;
    justify-content: space-between;
    width: 100px;
    border: 1px solid black;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-radius: 4px;
  }

  .icon {
    cursor: pointer;
  }

  .icon.fb {
    color: #4267B2;
}

.icon.twitter {
    color: #38A1F2;
    border-left: 1px dotted black;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px dotted black;
}

.icon.pinterest {
    color: #E73E3A;
}

  .fbModal,
  .twitterModal,
  .pinterestModal {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .fbModal-content,
  .twitterModal-content,
  .pinterestModal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    width: 400px;
    max-width: 100%;
    background-color: white;
    z-index: 1010;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 5vw;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 1vw;
  }
}