.item-card {
  background-color: $color-1;
  // background-color: whie;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: $color-2;
}

.item-card > * {
  display: flex;
  margin: auto;
  color: $color-2;
}

.slider-container .slider-element{
  display: flex;
  width: calc(100% - 4em);
  height: 301px;
  // justify-content: center;
  flex-direction: row;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.slider-element {
  overflow: scroll;
  scroll-behavior: smooth;
  // justify-content: left;
}

