.Questions{
    // display: flex;
    flex-direction: column;
    justify-content: center;
    color: $text-color;
    margin: auto;
    width: 80%;
    max-height: 100lh;
    height: fit-content;
    margin-top: 2.5%;
    overflow-y: auto;

    //component dimensions
    max-width: 100%;
    &.Header{
        // background-color: pink;
        flex-direction: row;
        margin-left: 15px;
    }

    &.SearchBar {
        // background-color: #e6b3b3;
        justify-content: left;
        width: 100%;
    }
    &.QuestionList {
        width: 95%;
        margin-top: 1%;
        margin-bottom: 1%;

        overflow-y: auto;
        padding: 1%;
        &.Buttons {
            display: flex;
        }
        &.QuestionListEntry {
            // background-color: rgb(214, 119, 255);
            // border: 5px solid;
            display: flex;
            padding: 1%;
        }
    }
    &.AnswerList {
        // background-color: indianred;
        width:90%
    }
    &.AnswerListEntry {
        width: 96%;
        // background-color: rgb(178, 213, 178);
    }


        &.Modal {
            box-sizing: border-box;
            padding: 5%;
            max-height: 70%;
            overflow-y: auto;
            width: 70%;
        }

    
}

