.Questions{
    display: flex;
    flex-Direction: column;
    justify-Content: left;
    background-color: #f3f3f3;
    color: rgb(0, 0, 0);
    margin: 1.5%;
    &.Header{
        display: flex;
        flex-direction: row;
        margin-left: 50px;
    }

    &.SearchBar {
        display: flex;
        flex-direction: row;
        flex-direction: row;
        justify-content: center;
        background-color: #e6b3b3;
        &.input{
            
        }
    }
    &.QuestionList {
        background-color: aqua;
        border: 5px;
    }
    &.QuestionListEntry {
        display: flex;
        padding: 5%;
    }

    &.AnswersModal {

        
    }
    &.QuestionModal {
        color:brown;
        position: absolute;
        top: 50%;
        left: 50%;
        // maxHeight: max-content;
        // maxWidth: 100%;
        width: 650px;
        // mx: auto;
        // transform: translate(-50%, -50%);
        // p: 2;
        background-color:#ddcecea1;
    }
}

